<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Aranceles</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../statics/css/style.css">

</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <a class="navbar-brand" href="/" style="font-size: 2 em; font-weight: bold; color: #88209B; margin-left: 10px;">TopEducation Finanzas</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/" style="color: #88209B;">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/cuotas" style="color: #88209B;">Cuotas</a>
        <a class="nav-item nav-link" href="/arancel" style="color: #88209B;">Aranceles</a>
        <a class="nav-item nav-link" href="/estudiantes" style="color: #88209B;">Estudiantes</a>
        <a class="nav-item nav-link" href="#examenes" style="color: #88209B;">Examenes</a>
        <a class="nav-item nav-link" href="#examenes" style="color: #88209B;">Pagar aquí</a>
      </div>
    </div>
  </nav>
</header>

<br>

<body style="background-color: #ffffff; color: #88209B; padding: 20px;">
<div class="container">
  <div class="row">
    <h1 style="color: #88209B;">Lista de todos los aranceles</h1>
  </div>
  <table class="table table-striped table-bordered" style="background-color: #ffffff; border: 1px solid #88209B;">
    <thead style="background-color: #88209B; color: #ffffff;">
    <tr>
      <th scope="col">rut</th>
      <th scope="col">Descuento tipo de pago</th>
      <th scope="col">Descuento tiempo de egreso</th>
      <th scope="col">Descuento colegio de procedencia</th>
      <th scope="col">Tipo de pago</th>
      <th scope="col">Monto a pagar</th>
      <th scope="col">Cantidad de cuotas</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="arancel: ${arancel}">
      <td th:text="${arancel.rut_estudiante.rut_estudiante}">rut</td>
      <td th:text="${arancel.dcto_tipo_pago}">tipo</td>
      <td th:text="${arancel.dcto_tiempo_egreso}">egreso</td>
      <td th:text="${arancel.dcto_colegio_procedencia}">colegio</td>
      <td th:text="${arancel.tipo_de_pago}">tipo pago</td>
      <td th:text="${arancel.monto_pagar}">monto</td>
      <td th:text="${arancel.cantidad_cuotas}">cuotas</td>
    </tr>
    </tbody>
  </table>
</div>
</body>


</html>