<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>TopEducation Finanzas</title>
</head>
<body>
<header>
    <nav>
        <div class="logo">TopEducation Finanzas</div>
        <ul>
            <li><a href="#cuotas">Cuotas</a></li>
            <li><a href="arancel.html">Aranceles</a></li>
            <li><a href="estudiantes.html">Estudiantes</a></li>
            <li><a href="#examenes">Examenes</a></li>
        </ul>
    </nav>
</header>

<section class="main-content">
    <div class="info-box">
        <h2>Cuotas de Estudiantes</h2>
        <p>Información sobre las cuotas de todos los estudiantes.</p>
    </div>

    <div class="info-box">
        <h2>Aranceles</h2>
        <p>Aranceles vigentes para nuestros programas educativos.</p>
    </div>

    <div class="info-box">
        <h2>Estudiantes</h2>
        <p>Información sobre los estudiantes y su progreso académico.</p>
    </div>

    <div class="info-box">
        <h2>Examenes Tomados</h2>
        <p>Resultados de los exámenes.</p>
    </div>
</section>
</body>
</html>
